<IfModule !mod_authz_core.c>
# Apache < 2.4

Order Allow,Deny
Deny from All

</IfModule>

<IfModule mod_authz_core.c>
# Apache >= 2.4 Deny, Order obsolete

Require all denied

</IfModule>

