<?xml version="1.0" encoding="UTF-8"?>
<document>
	<title><![CDATA[@{title}]]></title>
	<allow_com>1</allow_com>
	<template><![CDATA[@{template}]]></template>
	<chapo><![CDATA[@{subtitle}]]></chapo>
	<content><![CDATA[@{content}]]></content>
	<tags><![CDATA[@{tags}]]></tags>
	<meta_description><![CDATA[@{description}]]></meta_description>
	<meta_keywords><![CDATA[@{keywords}]]></meta_keywords>
	<title_htmltag><![CDATA[]]></title_htmltag>
	<date_creation><![CDATA[@{date_creation}]]></date_creation>
	<date_update><![CDATA[@{date_update}]]></date_update>
	<likes>0</likes>
	<hates>0</hates>
	<rating>0</rating>
</document>